{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
{% for blog in object_list %}
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->

        <div class="card-body d-sm-flex justify-content-between">
              <div class="mb-2 mb-sm-0 pt-1"></div>
                              <b>{{ blog.title }}</b> &nbsp;&nbsp;&nbsp;&nbsp;
                              {{ blog.date_created }}
                <form method="post" action="{% url 'blog:delete' blog.pk %}">
                      {% csrf_token %}
{#                  <button type="submit">Update</button>#}
                      <button type="submit">Delete</button>
                  </form>

            <form method="post" action="{% url 'blog:update' blog.pk %}">
                      {% csrf_token %}
                      <button type="submit">Update</button>
                  </form>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
      <!-- Heading -->
  </main>
{% endblock %}