{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body-detail d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
            <span>/</span>
            <span>Dashboard</span>
          </h4>

          <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
            <button class="btn btn-primary btn-sm my-0 p" type="submit">
              <i class="fas fa-search"></i>
            </button>

          </form>

        </div>

      </div>
      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
          {% for blog in object_list %}
          <div class="col-md-4 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

                <h5><center>{{ blog.title }}</center></h5>
                <p>
                <center><img src="{{ blog.images.url }}" height="150px" width="100%"></center>
                </center>
                </p>
                <p><b>Author: {{ blog.author }}</b></p>
                <p>Last Updated:{{ blog.date_updated.date }}</p>
                <p> {{ blog.content }}</p>

{#                {{ object_list }}#}
            </div>
              <br>
              <form method="get" action="{% url 'blog:blog-detail' blog.id %}">
                  {% if blog.author == user %}
                  <center><button type="submit">View More</button>&nbsp;&nbsp;
                      <button type="submit"><a href="{% url 'blog:update' blog.id %}">Edit</a></button></center>
                      {% else %}
                      <center><button type="submit">View More</button>&nbsp;&nbsp;
                      <br>
                  {% endif %}
                  <br>
              </form>
          </div>
          <!--/.Card-->

        </div>
          {% endfor %}
        <!--Grid column-->
          </div>
          <!--/.Card-->

          <!--Card-->
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
  </main>
      <!--Grid row-->
      <!--Grid row-->
      {% endblock %}