{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid ">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body-detail d-sm-flex justify-content-between">

         <form class="d-flex" method="post" action="{% url 'blog:create' %}">
             {% csrf_token %}
            <!-- Default input -->
{#            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">#}
                  <button class="btn btn-primary btn-md my-0" type="submit">
                    Create New Blogs
                  </button>
             </form>


          </form>

          <form class="d-flex justify-content-center" method="GET" action="{% url 'user:search' %}">
            <!-- Default input -->
            <input type="search" placeholder="Search Title" aria-label="Search" class="form-control" name="title">
            <button class="btn btn-primary btn-sm my-0 p" type="submit">
              <i class="fas fa-search"></i>
            </button>
              </form>

          </form>

        </div>

      </div>
      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
          {% for blog in object_list %}
          <div class="col-md-4 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

                <h5><center>{{ blog.title }}</center></h5>
                <p>
                <center><img src="{{ blog.images.url }}" height="150px" width="100%"></center>
                </center>
                </p>
                <p><b>Author: {{ blog.author }}</b></p>
                <p>Last Updated:{{ blog.date_updated.date }}</p>
                <p> {{ blog.content }}</p>

{#                {{ object_list }}#}
            </div>
              <br>

                  {% if blog.author == user %}

                     <center>
                      <form class="ml-4" method="get" action="{% url 'blog:blog-detail' blog.id %}" style="float: left;">
                     <button type="submit" class="btn btn-primary m-0 pl-3 pr-3 pt-2 pb-2">View More</button>
                      </form>
                      <form action="{% url 'blog:update' blog.id %}" method="get">
                          <button type="submit" class="btn btn-success m-0 pl-3 pr-3 pt-2 pb-2">Update</button>
                      </form>
                      </center>
                      {% else %}
                      <center>
                     <form method="get" action="{% url 'blog:blog-detail' blog.id %}">
                     <button type="submit" class="btn btn-primary m-0 pl-3 pr-3 pt-2 pb-2">View More</button>
                      </form>
                      </center>
                  {% endif %}
                  <br>
              </form>
          </div>
          <!--/.Card-->

        </div>
          {% endfor %}
        <!--Grid column-->
          </div>
          <!--/.Card-->

          <!--Card-->
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
  </main>
      <!--Grid row-->
      <!--Grid row-->
      {% endblock %}