<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style-login.css' %}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'image/user.jpg' %}" id="icon">
    </div>

    <!-- SignuUP Form -->
    <form method="POST">
        {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" required>
      <input type="text" id="username" class="fadeIn second" name="first_name" placeholder="first name" required>
      <input type="text" id="username" class="fadeIn second" name="last_name" placeholder="last name" required>
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="password" id="password-check" class="fadeIn third" name="confirm_password" placeholder="confirm password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'user:login' %}">Login</a>
    </div>

  </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>